body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

main {
    display: flex;
}

.active {
    background-color: gray;
    color: white;
}

li.active {
    color: white;
}


#theme {
        position: fixed;
        top: 20px;
        right: 25px;
        padding: 15px 20px;
        font-size: 30px;
        background: transparent;
        color: #000;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
}

header,
footer{
    background-color: rgb(26, 60, 64);
    color: #fff;
    border: 10px solid green;
}
h1 {
    text-align: center;
    font-size: 62px;
    padding: 30px;
}

h2 {
    font-size: 32px;
    padding-left: 10px;
}

h3 {
    padding-left: 20px;
}

p {
    padding-left: 30px;
}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-decoration-line: none;
    color: black;

}

li {
    padding: 10px;
    margin: 20px;
    color: #000;
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid gray;
    cursor: pointer;
    list-style: none;
}

li:hover {
    background-color: white;
    
}

a {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
     transition-property: transform;
}

a:hover {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}

strong {
    padding-top: 10px;
    padding-left: 40px;
}


.home a {
    text-decoration: none;
    margin-top: 100px;
}

.temperature {
    background-color: gray;
}

canvas {
    border:1px solid gray;
    background-color: #f1f1f1;
}

@media screen and (max-width: 512px) {
    h1,
    h2 {
        font-size: 100%;
    }

    #theme {
        font-size: 65%;
    }
}