body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

main {
    display: flex;
}

.container {
    width: 100%;
    height: 70vh;
    margin-bottom: 100px;
}

.active {
    background-color: gray;
    color: white;
}

li.active {
    color: white;
}


#theme {
        position: fixed;
        top: 20px;
        right: 25px;
        padding: 15px 20px;
        font-size: 30px;
        background: transparent;
        color: #000;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
}

header {
    background-color: rgb(26, 60, 64);
    color: #fff;
    border: 10px solid green;
    width: 98.5%;
}
h1 {
    text-align: center;
    font-size: 62px;
    padding: 30px;
}

h2 {
    font-size: 32px;
    padding-left: 10px;
}

h3 {
    padding-left: 20px;
}

p {
    padding-left: 30px;
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:70%;
    height: 200px;
    padding-top: 50px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
}

li a {
    text-decoration-line: none;
    color: black;

}

li {
    padding: 10px;
    margin: 20px;
    color: #000;
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid gray;
    cursor: pointer;
    list-style: none;
    text-align: center;
    text-decoration: none;
    width: 180px;
    padding-top: 20px;
    box-shadow: 5px 5px;
}

li:hover {
    background-color: white;
    
}

li {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
     transition-property: transform;
}

a:hover {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}

.copy{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    
}

footer {
    background-color: rgb(26, 60, 64);
    color: #fff;
    border: 10px solid green;
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:98.5%;
}

@media screen and (max-width: 512px) {
    h1,
    h2 {
        font-size: 100%;
    }

    #theme {
        font-size: 65%;
    }
    li {
        width: 50%;
    }
    footer{
        width: 95%;
    }
}