
input {
  border: 1px solid black;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.container {
  width: 70%;
  margin: auto;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.entry {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.entry button {
  width: 37%;
  font-size: 20px;
  color: black;
  background-color: rgb(148, 221, 148);
  border: solid 1px black;

}

.todoEntry {
  border: 1px solid gray;
  border-bottom-right-radius: 3px solidgray;
}

.todoList {
  width: 97%;
}

.todoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px black;
}

.count {
  line-height: 7px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.actionBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px;
  margin: 10px;
}

.actionBtns button{
  margin: 10px;
  line-height: 7px;
  padding: 7px;
  font-size: 20px;
}

.iconFor {
cursor: pointer;
}

.material-icons {
  cursor: pointer;
}

.completed {
  margin-top: 10px;
  margin-bottom: 10px;
}

#err {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}