#pokemon {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-content: auto;
}
ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;

  
}
ul li {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin-top: 10px;
  width: 100px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.pagination a:hover  {
  background: black;
  color: white;
}
#shipList {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-content: auto;
}
td {
  border-radius: 5px;
  background-color: lightgray;
  padding: 10px;
  cursor: pointer;
}