.function {
    padding-left: 50px;
}

.notes {
    margin: 20px;
    padding: 10px;
}

@media screen and (max-width: 512px) {
    main {
        font-size: 100%;
    }
    .function {
        font-size: 50%;
    }
}