
h3 {
    padding-left: 30px;
}

li, strong {
    margin: 10px 50px;
}

.topic {
    align-items: center;
}

.home a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 100px;
}