#quakeList li{
  list-style-type: none;
  padding: 10px;

}
#quakeList li {
  margin: 0.5em 0;
  text-align: center;
  padding-top: 10px;
  
}
#quakeList {
  font-size: 0.8em;
}

main {
  display: flex;
}



.back {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 150px;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}