.hikes {
  padding: 10px;
}

img {
  max-width: 40%;
  height: 180px;
  float: left;
}
.hikeStyles{
    width:85%;
    height:780px;
}
h2 {
  text-align: center;
  background-color: aquamarine;
  border: solid black ;
}
.details{
    margin: 10px;
}

ul li {
  list-style: none;

}


  #comments {
    display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
      }
      .addComment, .comment {
        width: 80%;
      }
      .addComment > h2 {       
        background-color: tomato;
      }
      .addComment input {
        width: 80%;
        border: 1px solid;
        font-size: 1.2em;
      }
      .addComment button {
        padding: 0.5em;
        border: 1px solid;
      }
      .comments{
        background-color: #fff;
        border: 1px solid gray;
        padding: 10px;

      }

