.container {
    width: 85%;
    margin: auto;
  }
  
  .entry {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .entry input {
    width: 100%;
    font-size: 20px;
  }
  
  .entry button {
    width: 35%;
    font-size: 20px;
    color: black;
    background-color: rgb(148, 221, 148);
    border: solid 1px black;
  
  }
  
  .square {
    height: 15px;
    width: 15px;
    border: 1px solid #555;
  }
  
  .todoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 7px;
    border: solid 1px black;
  }
  
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .actionBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
  }
  
  .completed {
  background-color: rgb(148, 221, 148);
  }