li {
  padding-top: 10px;
  list-style: none;
}
.code {
  background-color: lightgray;
  border: none;
  width: 60%;
  height: auto;
  padding-left: 40px;
  border-radius: 10px;
}
.code > p {
  
  padding: 10px;
}