h2 {
    font-size: 32px;
    padding-left: 50px;
}

strong {
    font-size: 100%;
    padding: 20px;
}

li {
    padding: 10px;
}

.home {
    align-items: center;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    list-style: none;
}