h2{
    font-size: 100%;
    padding: 10px;
}

strong {
    font-size: 100%;
    padding: 20px;
}

li {
    padding: 10px;
}

.home {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}